body {
    background-color: #1bcf39ab;
    font-family: Playfair Display, sans-serif
}

.letra-blancas{
    color: #ffffff;
}

.carousel-item img {
    height: 70vh;        
    width: 100%;           
    object-fit: cover;     
    object-position: center;
}




.card{
    background-color: #0dcaf0;
    
}


.card-img-top, .card img {
    height: 200px;       
    width: 100%;          
    object-fit: cover;     
    object-position: center;
}



.subtexto{
    color: #ffffff;
}
.icon-container {
    background-color: #0dcaf0; 
    color: white;              
    padding: 10px 0;         
    margin-bottom: 15px;      
    font-size: 1.5rem;        
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

h3{
    border-bottom: 1px solid #fafafa46;
} 






.viajes-footer {
    padding: 10px 0;
    width: 100%;
    background-color: #0dcaf0;
}



.footer-container {
    max-width: 1200px;        
    margin: 0 auto;           
    padding: 0 40px;          
    display: flex;
    justify-content: space-between; 
    align-items: center;     
     height: 80px;
}

.footer-title {
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 2px;       
    margin: 0;
    font-weight: normal;      
}
.footer-icons {
    display: flex;
    gap: 15px;                 
}

.footer-icons a {
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
    transition: opacity 0.3s;
}